<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block meta_title %}Zen wiki{% endblock %}</title>
	<meta name="description" content="">

	{% block additional_meta %}{% endblock %}

	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/static/css/style.css">

	<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="{% block body_classes %}{% endblock %}">

	<div class="container main-wrap">
		<div class="content-wrap">
			{% block main_content %}{% endblock %}
			<div class="clear"></div>
		</div>
		<footer class="quiet small span-16">
			Powered by <a href="https://github.com/pozadi/zen-wiki">zen-wiki</a>
		</footer>
	</div>


	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="/static/js/plugins.js"></script>
	{% endblock %}

	{% comment %}
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	{% endcomment %}
</body>
</html>

