{% extends 'base.html' %}

{% block body_classes %}lang-en{% endblock %}

{% block main_content %}
	<br>

	<span class="link-js change-lang-link" role="change-lang">
		<span class="en">по русски</span>
		<span class="ru">english version</span>
	</span>

	<div class="en">
		<h1>Zen-wiki</h1>

		<div class="span-8">
			<p>
				<b>Zen-wiki</b> is a tool to organize personal notes.
			</p>

			<p>
				{% if user %}
					You already logged in, and can access your wiki <a href="{{ wiki.getUrl }}">here</a>.
				{% else %}
					Please <a href="{{ login_url }}">login with your google account</a> to start using <b>Zen-wiki</b>.
				{% endif %}
			</p>

			<p>
				<a href="https://github.com/pozadi/zen-wiki">Source code on Github</a>
			</p>

			<a href="https://twitter.com/share" class="twitter-share-button" data-via="meshokmuki" data-text="Manage your notes with Zen-wiki" data-url="http://zen-wiki.com" data-lang="en">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
		<div class="span-8 last">
			<div class="little-help"><div>
				<h3>Little help</h3>

				<h4>Markdown syntax</h4>
				<p><a href="http://daringfireball.net/projects/markdown/syntax">Official documentation</a></p>

				<h4>Allowed html tags:</h4>
				<p>
					table, tr, th, td, b, blockquote, code, del, dd, dl, dt, em, h1, h2, h3, i, kbd, li, ol, p, pre, s, sup, sub, strong, strike, ul, br, hr
				</p>
			</div></div>
		</div>
	</div>

	<div class="ru">
		<h1>Дзен-вики</h1>

		<div class="span-8">
			<p>
				<b>Дзен-вики</b> это инструмент для организации личных заметок.
			</p>

			<p>
				{% if user %}
					Вы уже вошли. Ваша персональная вики находится <a href="{{ wiki.getUrl }}">тут</a>.
				{% else %}
					Пожалуйста <a href="{{ login_url }}">войдите с аккаунтом google</a> чтобы начать использовать <b>Дзен-вики</b>.
				{% endif %}
			</p>

			<p>
				<a href="https://github.com/pozadi/zen-wiki">Исходный код на Github</a>
			</p>

			<a href="https://twitter.com/share" class="twitter-share-button" data-via="meshokmuki" data-text="Делайте заметки с Дзен-вики" data-url="http://zen-wiki.com" data-lang="ru">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
		<div class="span-8 last">
			<div class="little-help"><div>
				<h3>Помощь</h3>

				<h4>Синтаксис markdown</h4>
				<p><a href="http://markdown.pp.ru/">Русский перевод официальной документации</a></p>

				<h4>Список разрешенных HTML тегов:</h4>
				<p>
					table, tr, th, td, b, blockquote, code, del, dd, dl, dt, em, h1, h2, h3, i, kbd, li, ol, p, pre, s, sup, sub, strong, strike, ul, br, hr
				</p>
			</div></div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="/static/js/index.js"></script>
{% endblock %}

