<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title|capfirst }}</title>
		<link rel="shortcut icon" href="/favicon.png" />
		
		<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		
		<link rel="stylesheet" href="/css/style.css" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="/js/prettify-1-Jun-2011/prettify.css">
		
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="/js/prettify-1-Jun-2011/prettify.js"></script>
		<script type="text/javascript" src="/js/pagedown/pagedown.js"></script>
		<script type="text/javascript" src="/js/comp.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		
		<script type="text/javascript">
			window.rootUrl = "{{ wiki.getUrl }}/";
		</script>
	</head>
	<body class="{% if wiki.canEdit %}can-edit{% endif %} {% if not page.is_saved %}not-saved{% endif %}">
		
		<div class="sidebar"><div class="padding">
			
			<div id="userbox">
				{% if user %}
					{% if wiki.canEdit %}master{% else %}guest{% endif %}
					<a href="{{ logout_url }}">logout</a>
				{% else %}
					anon <a href="{{ login_url }}">login</a>
				{% endif %}
			</div>
			
			<ul id="menu">
				{{ menu_html }}
			</ul>
			
			<form action="" method="get" id="new-form">
				<input type="text" placeholder="new/page" id="new-input" />
			</form>
			
		</div></div>
		
		<div class="center"><div class="padding">
			
			{% if not page.is_saved and not wiki.canEdit %}
			
			<h1>404 Not found ;(</h1>
			
			{% else %}
			
			<h1 class="path">
				{% for i in path %} {{ i|capfirst|escape }} → {% endfor %} <big>{{ page.title|capfirst|escape }} <sup id="move">move</sup> <sup id="edit">edit</sup> <sup id="delete">delete</sup></big>
			</h1>
			<form method="post" id="move-form">
				<input id="move-input" type="text" name="move" value="{{ page.url }}" />
			</form>
			
			<form method="post" id="edit-form">
				<div class="wmd-panel">
		            <div id="wmd-button-bar"></div>
		            <div class="textarea-wrap"><textarea name="content" class="wmd-input" id="wmd-input">{{ page.content|escape }}</textarea></div>
		        </div>
		        <div class="save-wrap"><input type="submit" value="save" /> <span id="cancel">cancel</span></div>
		    </form>
		    
		    <div id="wmd-preview"></div>
			
			<form method="post" id="delete-form">
				<input type="hidden" name="delete" value="1" />
			</form>
			
			<div id="content"></div>
			
			{% endif %}
			
		</div></div>
		
		<div class="clear"></div>
		
		<div class="footer">
			Powered by <a href="https://github.com/pozadi/zen-wiki/wiki">zen-wiki</a><br/>by <a href="http://twitter.com/meshokmuki">@meshokmuki</a>
		</div>
		
	</body>
</html>