{% extends 'base.html' %}

{% block meta_title %}{{ page.title|capfirst }}{% endblock %}

{% block body_classes %}
	{% if wiki.canEdit %}can-edit{% endif %}
	{% if not page.is_saved %}not-saved{% endif %}
	{% if page.private %}private{% else %}public{% endif %}
{% endblock %}

{% block main_content %}
	<div class="vertical-line"></div>

	<aside class="span-4">
		<div class="userbox small">
			{% if user %}
				{% if wiki.canEdit %}master{% else %}guest{% endif %}
				<a href="{{ logout_url }}">logout</a>
			{% else %}
				anon <a href="{{ login_url }}">login</a>
			{% endif %}
		</div>

		<ul class="nav">
			{{ menu_html }}
		</ul>

		{% if wiki.canEdit %}
		<form action="" method="get" role="new-form" class="new-form">
			<input type="text" placeholder="new page" role="new-input" />
		</form>
		{% endif %}

	</aside>
	<article class="span-12 last">

		{% if not page.is_saved and not wiki.canEdit %}
			<h1>404 Not found ;(</h1>
		{% else %}
			<h1 class="path" role="path-block">
				{% for i in path %} {{ i|capfirst|escape }} → {% endfor %}
				<big><span class="changed-mark">*</span>{{ page.title|capfirst|escape }}
					{% if wiki.canEdit %}
						<span class="buttons">
							<sup class="edit" role="edit-page-button">edit</sup>
							{% if page.is_saved %}
								<sup class="move" role="move-page-button">move</sup>
								<sup class="delete" role="delete-page-button">delete</sup>
								<sup class="set-private" role="set-private-status-button">
									<span class="private">private</span>
									<span class="public">public</span>
								</sup>
							{% endif %}
						</span>
					{% endif %}
				</big>
			</h1>
			<form method="post" role="move-form" class="move-form temporary-hidden">
				<input type="text" name="move" value="{{ page.url }}" />
			</form>

			<form method="post" role="edit-form" class="edit-form temporary-hidden">
				<div class="wmd-panel">
					<div id="wmd-button-bar"></div>
					<div class="textarea-wrap">
						<textarea name="content" class="wmd-input" id="wmd-input">{{ page.content|escape }}</textarea>
					</div>
				</div>
				<div class="save-wrap">
					<input type="submit" value="save" />
					<span class="cancel" role="cancel">cancel</span>
				</div>
			</form>

			<div id="wmd-preview"></div>

			<form method="post" role="delete-form">
				<input type="hidden" name="delete" value="1" />
			</form>

			<form method="post" role="set-private-form">
				<input type="hidden" name="private" value="{% if page.private %}0{% else %}1{% endif %}" />
			</form>
		{% endif %}

	</article>
{% endblock %}

{% block additional_meta %}
	<link rel="stylesheet" href="/static/js/libs/prettify-1-Jun-2011/prettify.css">
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">ROOT_URL = "{{ wiki.getUrl }}/"</script>
	<script src="/static/js/libs/prettify-1-Jun-2011/prettify.js"></script>
	<script src="/static/js/libs/pagedown/pagedown.js"></script>
	<script src="/static/js/main.js"></script>
{% endblock %}

{% block github_ribbon %}{% endblock %}