/* ----------------- pagedown */
.wmd-panel
{
	width: 100%;
	min-width: 500px;
}
.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}
.wmd-input 
{ 
	height: 300px;
	width: 100%;
	font-family: Monaco, Menlo, 'Droid Sans Mono', 'Courier New', monospace;
	font-size: 12px;
}
.wmd-preview 
{ 
	background-color: #c0e0ff; 
}
.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}
.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}
.wmd-prompt-background
{
	background-color: Black;
}
.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
/* ------------------------------------ */


body {
	width: 800px;
	margin: 0 auto;
	
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
}

.sidebar {
	width: 159px;
	float: left;
	border-right: 1px solid #eee; 
	margin-right: -1px;
}
	.sidebar .padding {
		padding: 0 10px 10px 0;
	}
		#userbox {
			font-size: 12px;
			text-align: right;
			margin-bottom: 1em;
		}
	#menu {
		margin: 0;
		padding: 0;
		font-size: 17px;
	}
		#menu li {list-style: none}
		#menu li .private {
			background: url('/css/private.png') no-repeat 100% 0;
			padding-right: 20px;
		}
		#menu > li {
			padding-bottom: .5em;
		}
			#menu li a {
				text-decoration: none;
				color: black;
			}
			#menu li .new a {color: #888}
			#menu li a:hover {text-decoration: underline}
			#menu li .current a {cursor: default}
			#menu li .current a:hover {text-decoration: none}
			#menu > li > ul {
				margin: 0 0 0 .5em;
				padding: 0;
				font-size: 14px;
			}
				#menu > li > ul ul {
					margin: 0 0 0 1em;
					padding: 0;
					font-size: 12px;
				}
	#new-form {
		display: none;
	}
	.can-edit #new-form {display:block}
		#new-input {
			width: 140px;
			position: relative;
			z-index: 10;
		}
		#new-input:focus {width: 300px}

.center {
	width: 640px;
	float: right;
	border-left: 1px solid #eee;
}
	.center .padding {
		padding: 10px 0 10px 10px;
	}
		.path {
			font-size: 17px;
			color: #666;
			height: 25px;
			margin-bottom: 16px;
		}
			.path big {
				font-size: 25px;
				color: black;
			}
				.path sup {
					font-size: 11px;
					cursor: pointer;
					display: none;
					padding: 1px 4px;
					-webkit-font-smoothing: antialiased;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					text-decoration: none;
					background: #dfdfdf;
					color: #666;
					text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
				}
				.can-edit .path sup {display:inline}
				.not-saved #move,
				.not-saved #delete,
				.not-saved #set-private {display:none}
				#set-private {
					padding: 1px;
					background: white;
					border: #aaa 1px solid;
				}
					#set-private span {
						padding: 0 4px;
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
					}
					.public #set-private .public {background: #dfdfdf}
					.private #set-private .private {background: #dfdfdf}
					
			#move-form {
				height: 25px;
				margin-bottom: 16px;
				display: none;
			}
				#move-form input {
					font-size: 17px;
					padding: 3px;
					width: 300px;
					margin: 0;
				}
		/*#edit-form {
			display: none;
		}
		.not-saved #edit-form {display:block}*/
			.textarea-wrap {
				padding: 0 12px 0 0;
			}
				.textarea-wrap textarea {
					margin: 0;
					padding: 5px;
				}
			.save-wrap {
				text-align: right;
			}
				#cancel {
					cursor: pointer;
					border-bottom: 1px dashed black;
				}
				
		#wmd-preview {
			padding-left: 1.5em;
		}
				
		#delete-form {
			display: none;
		}

.footer {
	border-top: 1px solid #eee;
	font-size: 11px;
	text-align: right;
	padding-top: 5px;
	color: #666;
}

.prettyprint {
	font-family: Monaco, Menlo, 'Droid Sans Mono', 'Courier New', monospace;
	font-size: 12px;	
}

pre.prettyprint {
	border: none;
	background: ghostWhite;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 10px;
}

code.prettyprint { 
	background-color: ghostWhite;
	color: hsl(0, 0%, 27%);
	padding: 0 .2em;
	border: 1px solid #DEDEDE;
}

pre.prettyprint code.prettyprint {
	background-color: inherit;
	color: inherit;
	padding: inherit;
	border: none;
}
