@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/opacity";

@import "intro";
@import "wmd";

html {overflow-y:scroll}
img {
	max-width:100%;
	height:auto;
}
.small {font-size:.9em;}
.temporary-hidden {display:none}
[disabled]{@include opacity(.5)}

.prettyprint {
	font-family:Monaco, Menlo, 'Droid Sans Mono', 'Courier New', monospace;
	font-size:12px;
}

pre.prettyprint {
	border:none;
	background:ghostWhite;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:2px 10px;
}
code.prettyprint {
	background-color:ghostWhite;
	color:hsl(0, 0%, 27%);
	padding:0 .2em;
	border:1px solid #DEDEDE;
}
pre.prettyprint code.prettyprint {
	background-color:inherit;
	color:inherit;
	padding:0;
	border:none;
}

.content-wrap {
	position:relative;
}
	.vertical-line {
		position:absolute;
		top:0;
		bottom:0;
		left:(span(4)+$blueprint-grid-margin/2);
		border-right:1px solid #eee;
	}

.little-help {
	border:3px dashed #f0f0f0;
	margin-bottom:1em;
	& > div {
		background:#f0f0f0;
		padding:17px;
	}
	h3, h4 {margin:0}
	h3 {text-align:right}
}

aside {
	position:relative;
}
	.userbox {
		text-align:right;
		margin-bottom:1em;
	}
	.nav {
		margin:0;
		padding:0;
		font-size:17px;
		word-wrap:break-word;
		li {
			list-style:none;
			.private {
				background:url(../img/private.png) no-repeat 100% 0;
				padding-right:20px;
			}
			a {
				text-decoration:none;
				color:black;
				&:hover {text-decoration:underline}
			}
			.new a {color:#888}
			.current a {
				cursor:default;
				text-decoration:underline;
			}
		}
		& > li {padding-bottom:.5em}
			& > li > ul {
				margin:0 0 0 .5em;
				padding:0;
				font-size:14px;
			}
				& > li > ul ul {
					margin:0 0 0 1em;
					padding:0;
					font-size:12px;
				}
	}

	.new-form {
		margin-bottom:20px;
		input {
			width:140px;
			position:relative;
			z-index:10;
			@include single-transition(width, .3s);
			&:focus {width:300px}
		}
	}

article {
	padding-top:10px;
	word-wrap:break-word;
}

.path {
	font-size:17px;
	color:#666;
	line-height:1.4;
}
	.path big {
		font-size:25px;
		color:black;
		.buttons {white-space:nowrap}
	}
		.changed-mark {
			display:none;
			.changed & {display:inline}
		}
		.path sup {
			font-size:11px;
			cursor:pointer;
			padding:1px 4px;
			text-decoration:none;
			background:#dfdfdf;
			color:#666;
			text-shadow:1px 1px 0 rgba(255,255,255,0.3);
			top:-1em;
			-webkit-font-smoothing:antialiased;
			@include border-radius(2px);
			&:active {top:-.9em}
			&.set-private {
				padding:1px;
				background:white;
				border:#aaa 1px solid;
			}
				&.set-private span {
					padding:0 4px;
					@include border-radius(2px);
				}
				.public &.set-private .public {background:#dfdfdf}
				.private &.set-private .private {background:#dfdfdf}
		}
.move-form {
	height:25px;
	margin-bottom:16px;
	display:none;
}
	.move-form input {
		font-size:17px;
		padding:3px;
		width:300px;
		margin:0;
	}

.edit-form {
	margin-bottom:20px;
}
	.textarea-wrap {
		margin-bottom:10px;
		textarea {
			margin:0;
			padding:5px;
			@include box-sizing(border-box);
		}
	}
	.save-wrap {
		text-align:right;
		[type=submit] {
			margin-right:.5em;
		}
	}
		.cancel {
			cursor:pointer;
			border-bottom:1px dashed black;
		}

footer {
	border-top:1px solid #eee;
	text-align:right;
}

.github-ribbon {
	position:absolute;
	top:0;
	right:0;
	border:0;
}

@import 'outro';

